.meta-list {
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.meta-item {
  display: flex;
  flex-wrap: wrap;
  gap: .25rem .5rem;
}

.meta-label {
  flex: 0 0 auto;
}

.meta-value {
  flex: 1 1 100%;
}
